<div class="container">

    <table style="width:100%" class="table table-responsive">
        <thead>
        <tr>
            <th class="col-md-2">
                Name
            </th>
            <th class="col-md-2">
                Age
            </th>
            <th class="col-md-2">
                Location
            </th>
            <th class="col-xs-1"></th>
            <th class="col-xs-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in persons">
            <td ng-bind="person.name"></td>
            <td>{{person.age}}</td>
            <td>{{person.location}}</td>
            <td><span class="btn btn-sm btn-default" ng-click="$aoc('#personDialog').dialog.edit(person.id)">Edit</span></td>
            <td><span class="btn btn-sm btn-danger" ng-click="$aoc('#deletePersonDialog').dialog.confirm(person.id)">Delete</span></td>
        </tr>
        </tbody>
    </table>
    <span class="btn btn-primary btn-new-person" aoc="tooltip" title="Insert new person" href="#"
       ng-click="$aoc('#personDialog').dialog.insert()">Insert</span>


</div>
<div aoc="dialog" scope o-title="*title" scope id="personDialog" options="{dialog:'o'}" o-close="+refresh()">
    <form>
        <fieldset>
            <label>
                Name<input ng-model="person.name">
            </label>
            <label>
                Age: {{person.age}}
                <div aoc="slider" options="{slider:'o'}" events="e" e-model-changed="$controls.slider.value($args[1])"
                     ng-model="person.age" o-min="=10" o-max="=100"
                     o-change="+person.age=$args[1].value"></div>
            </label>
            <label>
                Location: <select aoc="dropdown" ng-model="person.location"
                                  ng-options="o for o in ['Bucharest','Krakow','Aarhus','Paris','Zurich']">
            </select>
            </label>

        </fieldset>
    </form>
</div>
<div aoc="dialog" o-title="*'Deleting ' + person.name + ' ...'" scope id="deletePersonDialog" options="{dialog:'o'}" o-close="+refresh()">
    <p>Are you sure?</p>
</div>

