code{
    word-break:  break-all;
}

.slider-container{
    padding:14px;
    border-radius: 8px;
    background-color: #808080;
    border: 1px solid darkgray;

}

.btn-new-person{
    float:right;
}

label{
    display:block;
}